<header class="bar bar-nav">
  <h1 class="title">
    <a href="/">Orion</a>
  </h1>
</header>

<div class="content">
  <div class="content-padded">
    <div class="card">
      <ul class="table-view">
        <li class="table-view-cell">
          {{#link-to 'dashboards' class="navigate-right"}}
            Dashboards
          {{/link-to}}
        </li>
        
        {{!-- <li class="table-view-cell"> --}}
          {{!#link-to 'reports' class="navigate-right"}}
            {{!-- Relatórios --}}
          {{!/link-to}}
        {{!-- </li> --}}
        {{!-- <li class="table-view-cell"> --}}
          {{!#link-to 'questionnaires' class="navigate-right"}}
            {{!-- Questionários --}}
          {{!/link-to}}
        {{!-- </li> --}}

        {{!-- --}}
      </ul>
    </div>
  </div>
</div>
