<header class="bar bar-nav">
  <h1 class="title">Login</h1>
</header>

<div class="content">
  <div class="content-padded">
  <form>
    {{input type="text" value=username placeholder="Nome de usuário"}}
    {{input type="password" value=password placeholder="Senha"}}
  
  <button {{action "enter"}} class="btn btn-block">Entrar</button>
  </form>
  </div>
</div>