<header class="bar bar-nav">
  <button {{action "cancel"}} class="btn pull-left">Cancelar</button>
  <button {{action "save"}} class="btn pull-right">Salvar</button>
  <h1 class="title">Novo questionário</h1>
</header>

<div class="content">
  <div class="content-padded">
    <form>
    {{input type="text" placeholder="Nome" value=name}}
    </form>
  </div>
</div>
